# =========================
# DATASETS
# =========================
**/data/
**/data_split/
kia_sonet/
testing_images/

# =========================
# OTHER
# =========================
*.csv
# =========================
# TRAINED MODELS
# =========================
*.pth
*.pt
*.onnx
*.engine
models/
**/models/

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# VENV
# =========================
venv/
.env/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db